a {
    color: #E6F0F3;
}

a:hover, a:active {
    color: #006180;
    background-color: #BFD7DF;
}

html, body #appspace {
    margin: 0;
    padding: 0;
    background: #006180;
    height: 100%;
    color: white;
    box-sizing: border-box;
    text-shadow: 0.0625em 0.0625em 0.0625em #BFD7DF;
}

h1 {
    text-shadow: 0.0625em 0.0625em 0.0625em #BFD7DF;
}

td, th {
    padding: 0.16em 0.33em;
}


.celnum {
    text-align: right;
}

.celtex {
    text-align: left;
}

.footing {
    font-size: 0.56em;
    margin-top: 2.37em;
    font-style: italic;
}

.repoheading th {
    border-top: 0.125em solid #FFFFFF;
    border-bottom: 0.0625em solid #FFFFFF;
    text-transform: uppercase;
}

.statusmessage {
    border: 0.0625em solid #006180;
    border-radius: 0.25em;
    padding: 0.16em 1.33em;
    color: #006180;
    font-weight: bold;
    font-size: 0.75em;
    background-color: #BFD7DF;
    text-align: center;
    margin: 0.33em auto 1.33em;
}

.tumblrconsole {
    font-family: monospace;
    font-size: 0.75em;
    padding: 1.33em;
    margin: 1.33em;
    overflow: auto;
}

.wid16 {
    width: 16%;
}

.wid25 { 
    width: 25%;
}

.wid33 {
    width: 33%;
}

.wid42 {
    width: 42%;
}

.wid50 {
    width: 50%;
}

.wid58 {
    width: 58%;
}

.wid66 {
    width: 66%;
}

.wid75 {
    width: 75%;
}

.wid83 {
    width: 83%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Avenir, sans-serif;
    font-size: 133.33%;
    align-items: center;
    justify-content: center;
}